
<%= link_to 'add a new restaurant', new_restaurant_path %>

<% @restaurant.each do |resto| %>
<ul>
  <li><%= resto.name %> | <%= link_to 'Details', restaurant_path(resto)%></li>
</ul>

<% end %>


<div class="wrapper">
  <div class="container">
    <div class="row">
      
    </div>
  </div>
</div>
